<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/style.css">
    <link href="/fonts.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="karx's website" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ current_url }}" />
    <meta property="og:image" content="https://karx.xyz/favicon.ico" />

    <title>{% block title %} {% endblock title %} - karx's website</title>

    <script type="module">
        import flamethrower from "https://esm.sh/v90/flamethrower-router";
        flamethrower({log: true, pageTransitions: true});
    </script>

    {% block headext %} {% endblock headext %}
</head>

<body>
	<section class="section">
		<div class="container">
			{% block content %} {% endblock %}
			<hr>
			<div style="text-align: center">
                <a href="/">home</a> - <a href="/about-me">about me</a> - <a href="/projects/">projects</a> - <a href="/blog/">blog</a>
                <br><a href="https://github.com/karx1/site">this site's source</a>
			</div>
		</div>
	</section>
</body>

</html>
