<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Welcome to Yash's Website!</title>
	<link rel="stylesheet" href="/style.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,700;1,300;1,700&display=swap" rel="stylesheet"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Welcome to Yash's Website!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ current_url }}" />
    <meta property="og:image" content="https://karx.xyz/favicon.ico" />
</head>

<body>
	<section class="section">
		<div class="container">
			{% block content %} {% endblock %}
			<hr>
			<div style="text-align: center">
				<a href="/">home</a> - <a href="/projects/">projects</a> - <a href="/blog/">blog</a> - built with <a href="https://www.getzola.org/">zola</a>
			</div>
		</div>
	</section>
</body>

</html>
