{% extends "base.html" %}

{% block title %}{{page.title}}{% endblock title %}

{% block content %}
<div class="text-align-center">
<h1 class="header">
	{{ page.title }}
</h1>
{{ page.description }}
</div>
<p class="text-align-right">
<strong><i>
		{{ page.date }}
	</i></strong>
</p>
{{ page.content | safe }}
<script src="https://giscus.app/client.js"
        data-repo="karx1/site-comments"
        data-repo-id="R_kgDOH0rjbA"
        data-category="Announcements"
        data-category-id="DIC_kwDOH0rjbM4CYkSv"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="cobalt"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
{% endblock content %}
