{% extends "base.html" %}

{% block content %}
<div class="text-align-center">
<h1 class="header">
    {% block title %}Hi, I'm karx{% endblock title %}
</h1>
computer science student at UT austin <a style="color: inherit" href="https://en.wikipedia.org/wiki/Hook_%27em_Horns">🤘</a>,linux enthusiast, rustlang enjoyer.
</div>

<p>
Skills:
<ul>
    <li>🦀 Rust</li>
    <li>🐧 Linux server administration</li>
    <li>🐳 Docker</li>
    <li>🐍 Python</li>
    <li>🌴 Git</li>
</ul>
</p>
<p>
Contact me:
<ul>
    <li>Discord: @thekarx</li>
    <li>Email: <a id="contact-point" data-contact="eWFzaGthcmFuZGlrYXIxNThAZ21haWwuY29tCg==">yashkarandikar158 [at] gmail [dot] com</a></li>
</ul>
</p>
<p>
Links:
<ul>
    <li><a href="https://github.com/karx1">my github</a></li>
    <li><a href="https://github.com/karx1/site">this site's source</a></li>
</ul>
</p>
<p>
Friends:
<ul>
    <li><a href="https://lemonsh.moe">lemon</a></li>
    <li><a href="https://famfo.xyz">famfo</a></li>
    <li><a href="https://missingpiece.dev">missing</a></li>
    <li><a href="https://www.gallant.lol/">gallant</a></li>
    <li><a href="https://jimmysbrass.review/">jeremy</a></li>
</ul>
</p>
<script src="/hide-email.js"></script>
{% endblock content %}
