{% extends "base.html" %}

{% block content %}
<div class="text-align-center">
<h1 class="header">
    {% block title %}Hi, I'm karx{% endblock title %}
</h1>
programmer, linux enthusiast, avid Doctor Who fan.
</div>

<p>
Skills:
<ul>
	<li>🦀 Rust</li>
	<li>🐧 Linux server administration</li>
	<li>🐳 Docker</li>
	<li>🐍 Python</li>
    <li>🌴 Git</li>
</ul>
</p>
<p>
Stuff:
<ul>
    <li>IRC: <a href="ircs://karx.xyz:6697">karx.xyz/6697 (requires SSL)</a></li>
	<li>E-mail: <a href="mailto:yash@karx.xyz">yash@karx.xyz</a></li>
</ul>
</p>
<p>
Links:
<ul>
	<li><a href="https://git.karx.xyz">my gitea (email me issues and patches!)</a></li>
	<li><a href="https://github.com/karx1">github</a></li>
    <li><a href="https://git.karx.xyz/karx/site">this site's source</a></li>
</ul>
</p>
<p>
Friends:
<ul>
    <li><a href="https://lemonsh.moe">lemon</a></li>
    <li><a href="https://famfo.xyz">famfo</a></li>
    <li><a href="https://missingpiece.dev">missing</a></li>
    <li><a href="https://www.gallant.lol/">gallant</a></li>
    <li><a href="https://jimmysbrass.review/">jeremy</a></li>
</ul>
</p>
{% endblock content %}
