{% extends "base.html" %}

{% block content %}
<h1 class="text-align-center">
	Welcome to Yash's website!
</h1>
<p>
	Hello there! My name is Yash Karandikar. I am a programmer and Linux enthusiast, as well as an avid Doctor Who fan.
</p>

<p>
Skills:
<ul>
	<li>Linux server administration</li>
	<li>Docker</li>
	<li>Rust</li>
	<li>Python</li>
	<li>TypeScript</li>
	<li>HTML/CSS/JS</li>
</ul>
</p>
<p>
Stuff:
<ul>
	<li>IRC: karx.xyz/6697 (requires SSL)</li>
    <ul>
        <li><a href="https://kiwiirc.com/nextclient/#ircs://karx.xyz/#main">Join with Kiwi IRC!</a></li>
    </ul>
	<li>E-mail: <a href="mailto:yash@karx.xyz">yash@karx.xyz</a> [<a href="/signature.asc">GPG Signature</a>]</li>
	<li>Mastodon: <a href="https://tilde.zone/@karx">@karx@tilde.zone</a></li>
</ul>
</p>
<p>
Links:
<ul>
	<li><a href="https://git.karx.xyz">my gitea (email me issues and patches!)</a></li>
	<li><a href="https://github.com/karx1">github</a></li>
    <li><a href="https://git.karx.xyz/karx/site">this site's source</a></li>
</ul>
</p>
{% endblock content %}
